# Ignore node_modules and environment files
node_modules/
server/node_modules/
server/.env
client/node_modules/
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local


!client/package-lock.json

!client/public/
!client/public/logo192.png
!client/public/logo512.png

# Ignore build folders
client/build/
server/build/
afye
# Ignore IDE/editor config files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
